*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
build
server/boot/scheduler.json
.env
server/storage/files/*
!server/storage/files/.gitkeep
!server/storage/files/README.md
server/storage/icons/*
!server/storage/icons/.gitkeep
!server/storage/icons/README.md
